html , body {
	background: #212121; 
	color: #fff; 
	font-family: Helvetica;
	margin: 0; 
	padding: 0;
}

p {
	color: #FFF;
}

h1 {
	font-size: 6rem;
}

input {
	text-align: center;
}

#viewport {
	border:solid 0.2rem white;
    width: 90%;
    padding: 0px;   
}

.centered {
    text-align: center;
}

.vertical-center {
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */
  
	display: flex;
	align-items: center;
}

#game_id {
	width: 33%;
	margin: auto;
}

#join-btn {
	margin: 0.5rem;
}

@media (max-width: 575.98px) { 
	.input-group-text {
		width: 150px;
	}
 }